<div>
    <div class="grid grid-cols-2 gap-2">
        <app-card-statistic class="bg-white rounded  font-bold shadow-2xl shadow-gray-500" titleCard="number of cutomers" 
        [valueCard]="customersNumber"></app-card-statistic>
        <app-card-statistic class="bg-gray-900 rounded text-white font-bold shadow-2xl shadow-gray-900" titleCard="Total amount" [valueCard]="totalAmount"></app-card-statistic>
    </div>
    <div class="mt-10">
       <app-graphs [dataGraph]="allAmountCustomers" [labelsGraph]="customersLastName"></app-graphs>
    </div>
</div>
