<div class="w-full bg-white p-4 shadow-md rounded">
  <h1 class="font-bold mb-4 text-3xl text-gray-500">Customers</h1>
    <a routerLink="/addCustomer" class="bg-blue-500 text-white font-bold p-2 rounded-md float-right mb-3 hover:bg-blue-700">
        <i class="bi bi-plus-square-fill"></i>
        Add Customer</a>
    <input class="border-2 border-blue-500 rounded-md shadow w-full p-2 outline-none" placeholder="Search" (input)="onQuery($event)" >
    <table class="min-w-max w-full table-auto mt-4 bg-white shadow rounded">
      <thead class="rounded">
        <tr class="bg-gray-900 text-white text-sm leading-normal rounded">
          <th class="py-3 px-6 text-left uppercase">ID</th>
          <th class="py-3 px-6 text-left uppercase">First Name</th>
          <th class="py-3 px-6 text-left uppercase">Last Name</th> 
          <th class="py-3 px-6 text-center uppercase">Email</th>
          <th class="py-3 px-6 text-center uppercase">Type Bank</th>
          <th class="py-3 px-6 text-center uppercase">Actions</th>
        </tr>
      </thead>
      <tbody class="text-sm font-light">
        <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let customer of customers">
          <td class="py-3 px-6 text-left whitespace-nowrap m-auto">
            <div class="flex items-center">
              <div class="mr-2"></div>
              <span class="font-medium">{{customer?.id}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <div class="flex items-center">
              <div class="mr-2"></div>
              <span class="font-medium">{{customer?.firstName}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-left">
            <div class="flex items-center">
              <div class="mr-2"></div>
              <span>{{customer?.lastName}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex items-center justify-center">
              <div class="mr-4"></div>
              <span>{{customer?.email}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex items-center justify-center">
              <div class="mr-2"></div>
              <span>{{customer?.typeBank}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex item-center justify-center">
              <div class="w-4 mr-2 transform text-green-400 hover:scale-110 hover:cursor-pointer" [routerLink]="['/details',customer?.id]">
                <i class="bi bi-eye-fill"></i>
              </div>
              <div class="w-4 mr-2 transform text-yellow-400 hover:scale-110 hover:cursor-pointer" [routerLink]="['/edit',customer?.id]">
                <i class="bi bi-pen-fill"></i>
              </div>
              <!--<div class="w-4 mr-2 transform text-red-400 hover:scale-110 hover:cursor-pointer" (click)="delete(customer?.id)">
                <i class="bi bi-trash3-fill"></i>
              </div>-->
              <div 
              (click)="saveId(customer?.id)"
              class="w-4 mr-2 transform text-red-400 hover:scale-110 hover:cursor-pointer">
                <i class="bi bi-trash3-fill"></i>
            </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!--MODEL DIALOG-->

    <div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-start flex">
      <div class="relative my-6 mx-auto max-w-2xl">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
          <!--header-->
          <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
            <h3 class="text-3xl font-semibold">
              Delete Customer
            </h3>
            <button class="p-1 ml-auto border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
              <span class="bg-transparent text-red-500  h-6 w-6 text-2xl block outline-none focus:outline-none">
                <i class="bi bi-x-lg"></i>

              </span>
            </button>
          </div>
          <!--body-->
          <div class="relative px-4 py-2 flex-auto">
            <p class="my-4 text-slate-500 text-lg leading-relaxed">
              Sure you want to delete this customer?
            </p>
          </div>
          <!--footer-->
          <div class="flex items-center justify-end px-4 py-2 border-t border-solid border-slate-200 rounded-b">
            <button class="bg-gray-500 text-white active:bg-gray-500 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
              Close
            </button>
            <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="delete()">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  
 